body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:darkkhaki;
}

h1 {
    text-align: center;
    color:rgb(220, 50, 20);
    border: solid; 
    
}

h3{
    color: brown;

}
div{
    color: chocolate;
    text-align: center;
    font-size: larger;
}
